{% extends "dashboard/base_dashboard.html" %}

{% block conteudodashboard %}

        {% for category, message in get_flashed_messages(with_categories=True) %}
        {% if message %}
            <div class="alert alert-{{ category }} alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% endfor %}

        <div class="container-fluid mt-4">
            <div class="row">
                <!-- TODO: Gerar uma lista de atividades importantes do usuario logado -->
                <!-- Log das atividades do usuário -->
                <div class="col-md-3">
                    <div class="card">
                    <div class="card-header">
                        Minhas Atividades
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <!-- Converter para uma lista de mensagens de logs do usuário -->
                            <li class="list-group-item">Nova atividade: "Tarefa 1"</li>
                            <li class="list-group-item">Tarefa completa: "Tarefa 1 concluída com sucesso!"</li>
                        </ul>
                    </div>
                    </div>
                </div>
                <!-- fim do TODO: Gerar uma lista de atividades importantes do usuario logado -->

                <div class="col-md-9">
                    <div class="row">
                        <!-- Sobre a Aplicacao MAI -->
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Sobre</h5>
                                    <p class="card-text">MAI: uma aplicação para apoiar na tomada de decisão na gestão de almoxarifado.</p>
                                    <div>
                                        <h3>Features Básicas</h3>
                                        <p>Um protótipo web que visa integrar as análises de dados e inferências (uso de Machine Learning e IA (LLM)) dos dados do almoxarifado.</p>
                                        <p><strong>Objetivo:</strong> criar uma aplicação de gestão inteligente de estoque, acompanhando tarefas rotineiras, analisando movimentações e compras de produtos. Utilizando técnicas de Machine Learning e linguagem de modelagem de grande escala (LLM), o MAI vai oferecer insights sobre o comportamento do estoque, permitindo a tomada de decisões estratégicas e eficientes. Através de um painel intuitivo, os usuários poderão acessar diversas funcionalidades, como a criação de dashboards personalizados, a análise movimentações, análises de compras por fornecedor e a execução de tarefas de forma otimizada.</p>
                                        <p>Logo abaixo seguem as features mais importantes:</p>
                                        <ul>
                                            <li>F1. Login</li>
                                            <li>F2. Logout</li>
                                            <li>F3. Registro de novo usuário</li>
                                            <li>F4. Recuperar senha</li>
                                            <li>F5. Gerenciar Dashboard</li>
                                            <li>F6. Gerenciar Profile do usuário</li>
                                            <li>F7. Gerenciar Tarefas do usuário</li>
                                            <li>F8. Analise de Movimentações</li>
                                            <li>F9. Analise de Compras por Fornecedor</li>
                                            <li>F10. Motor de Inferência</li>
                                            <li>F11. Upload de arquivos de movimentação</li>
                                            <li>F12. Upload de arquivos de compras por fornecedor</li>
                                            <li>F13. Processamento de arquivos de movimentação</li>
                                            <li>F14. Processamento de arquivos de compras por fornecedor</li>
                                        </ul>
                                        <p>Para maiores detalhes entre em contato com <a href="https://www.linkedin.com/in/armandosoaressousa">Armando Soares</a> (armando@ufpi.edu.br)</p>
                                    </div>
                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
{% endblock %}
